.hero {
  
  background-color: var(--color-cream);
  position: relative;
  overflow: hidden;
}

.hero-container {
  padding: 10px;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-lg);
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.hero-title {
  font-size: clamp(2rem, 5vw, 3.5rem);
  color: var(--color-olive);
  line-height: 1.2;
  margin-bottom: var(--spacing-sm);
}

.hero-subtitle {
  font-size: clamp(1rem, 2vw, 1.25rem);
  margin-bottom: var(--spacing-lg);
}

.hero-buttons {
  display: flex;
  gap: var(--spacing-md);
}

.hero-image {
  position: relative;
  cursor: pointer;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  transition: opacity 0.5s ease-in-out;
  
  animation: slide-in 1s ease-in-out;
}



@media (max-width: 768px) {
  .hero-content {
    grid-template-columns: 1fr;
  }

  .hero-image {
    order: -1;
    display: none;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}